:root {
    /* CORES */
    --color-primary-dark: #007bff;
    --color-primary-base: #0099ff;
    --color-primary-light: #52b6ff;
    --color-secondary-dark: #28a745;
    --color-secondary-base: #37c756;
    --color-neutral-dark: #333333;
    --color-neutral-medium: #6c757d;
    --color-neutral-light: #f8f9fa;
    --color-white: #ffffff;
    --color-error: #cc0000;      
    --color-error-rgb: 204, 0, 0; 

    /* ESPAÇAMENTO */
    --spacing-1: 0.5rem; 
    --spacing-2: 1rem; 
    --spacing-3: 1.5rem; 
    --spacing-4: 2rem; 
    --spacing-5: 3rem; 
    --spacing-6: 4rem; 

    /* TIPOGRAFIA */
    --font-size-base: 1rem; 
    --font-size-sm: 0.875rem; 
    --font-size-lg: 1.25rem; 
    --font-size-h2: 2rem; 
    --font-size-h1: 3rem; 
    --font-family-sans: 'Arial', sans-serif;
    --font-family-serif: 'Georgia', serif;
}